@import url('./Home.css');

.layout-container {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;

}

.layout-content {
  flex: 1;
  padding-bottom: 4rem;
  background-color:#000000;
  /* width: 100%; */
}

.layout-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    text-align: center;
    z-index: 10;
}

.footer-link {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s ease, transform 0.1s ease;
  position: relative;
  display: inline-block;
  opacity: 0.5;
}

.footer-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 50%;
  background-color: currentColor;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.footer-link:hover {
  opacity: 0.8;
}

.footer-link:hover::after {
  width: 100%;
}

.footer-link:active {
  transform: scale(0.98);
  opacity: 1;
}

/* .dark-mode .layout-footer {
    color: white;
    border-top: 0.5px solid #fff;
} */

.layout-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    background-color: #000000;
    color: white;
}

.footer-link {
    opacity: 0.5;
}

.footer-link:hover {
    opacity: 0.8;
}
